mockDbGeneratorUI/build-*
CMakeLists.txt.*
mockDbGeneratorUI/mockDbGeneratorUI/resources/dataGenerators
mockDbGeneratorUI/mockDbGeneratorUI/resources/structureReader
mockDbGeneratorUI/mockDbGeneratorUI/resources/typeWrappers
mockDbGeneratorUI/mockDbGeneratorUI/resources/mockDbGenerator.py
mockDbGeneratorUI/mockDbGeneratorUI/resources/data
build/
dataGenerators/__pycache__
structureReader/__pycache__
typeWrappers/__pycache__
*.sql
*.csv